{% extends "index.html" %}
{% block title %}{{ SITENAME }} - {{ tag }}{% endblock %}

{% block content %}
<section id="content" class="body">
{# based on http://stackoverflow.com/questions/12764291/jinja2-group-by-month-year #}

<h1>Archives by tag '{{ tag }}'</h1>

{% for year, year_group in dates|groupby('date.year')|reverse %}
  {% for month, month_group in year_group|groupby('date.month')|reverse %}
    {% for article in month_group %}
        <li>{{ article.date|archive_date_format }}: <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
    {% endfor %}
  {% endfor %}
{% endfor %}

</section>
{% endblock %}